{% block content %}
<h1 class="mb-4">Tasks menu</h1>
<div class="list-group">
    <a href="{% url 'index' %}" class="list-group-item list-group-item-action">
        Lista de tareas (en memoria)
    </a>
    <a href="{% url 'tasks_add' %}" class="list-group-item list-group-item-action">
        Agregar tarea manual
    </a>
    <a href="{% url 'tasks_admin_list' %}" class="list-group-item list-group-item-action">
        Lista de tareas (desde admin/base de datos)
    </a>
    <a href="/admin/" class="list-group-item list-group-item-action">
        Ir a panel de administración
    </a>
</div>

{% endblock %}