{% extends "mi_app/base.html"%}
{% block content %}
<h1 class="mb-4">Add Tasks</h1>
<form action="{% url 'tasks_add' %}" method="post" class="mb-3">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="task" class="form-control" placeholder="New task">
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
<a href="{% url 'tasks_index' %}" class="list-group-item list-group-item-action">
    Lista de tareas (en memoria)
</a>

{% endblock %}
